.contacto{
    width: 100%;
    margin: auto;
    background: var(--primary-color);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    
}
.contacto-title{
    font-size: 30px;
    color: var(--text-color-inverse);
    margin: 0;
    margin-bottom: 20px;
    text-align: center
}
.contact-li{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
    background: white;
}
.contact-img{
    color: white;
    object-fit: contain;
}
.contact-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-contact{
    width: 42px;
    height: 42px;
}
@media (min-width:950px){
.contacto-form{
    max-width: 550px;
    margin: 0 auto;
}
.contacto-title{
    font-size: 50px; 
}
#boton{
    font-size: 26px;
    padding: 0.5em 1em;
}
.contacto input,textarea{
   
    padding: 10px;
    font-size: 20px;
    
}
}
